*,
*::before,
*::after {
	box-sizing: border-box;
	}

svg {
	margin: 0 auto;
	outline: 1px solid red;
	}

#graph {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: space-between;
	}


#checkboxes {
	width: 33vw;
	outline: 1px solid green;
	}
#checkboxes > div:nth-of-type(odd) {
	background: hsl(211, 50%, 90%);
	}
#checkboxes > div:nth-of-type(even) {
	background: hsl(111, 50%, 90%);
	}

h2, h3, h4 {
	text-align: center;
	}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
	}

#legend {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 5px;
	color: white;
	}
#legend div {
	flex-grow: 1;
	padding: 5px;
	text-align: center;
	border: 1px solid black;
	}

#tooltip, .tooltip {
	opacity: 0;
	position: absolute;
	/*
	Bars still lie below axis ticks: okay, but affects tooltip
	z-index: 1000;
	*/
	background-color: cornflowerblue;
	color: black;
	pointer-events: none;
	border: 2px solid black;
	border-radius: 8px;
	padding: 0rem;
	}

#tooltip ul li {
	/* Reduce spacing on data in tooltip: */
	line-height: 1.5em;
	padding-right: 2rem;
	font-size: 1.25rem;
	}


.tooltipRight::before {
	content: "";
	position: absolute;
	top: 50%;
	/* Bring pointer outside left-side-tooltip via border*2 */
	left: -24px;
	border: 12px solid transparent;
	border-right-color: green;
	/* offset by ½ width of border element to centre it, top: 50% is START */
	margin-top: -12px;
	}
/* Place tooltip to LEFT of node circle: */
.tooltipLeft::before {
	content: "";
	position: absolute;
	top: 50%;
	/* Bring pointer outside right-side-tooltip via border*2 */
	right: -24px;
	border: 12px solid transparent;
	border-left-color: green;
	/* offset by ½ width of border element to centre it, top: 50% is START */
	margin-top: -12px;
	}
