body {
	/* margin: 0; */
	box-sizing: border-box;
	}

svg {
  margin: 0 auto;
  display: block;
}

.tick * {
	font-size: 1rem;
	}

.tick line {
	stroke: lightgray;
	stroke-dasharray: 10,5;
	}

/* Remove first tick line: runs along xAxis */
#yAxis g.tick:nth-of-type(1) line  {
	display: none;
	}


#legend-title {
	width: 90vw;
	text-align: center;
	margin: 0.5em auto;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 5px;
	}

#colour-legend {
	display: flex;
	justify-content: stretch;

	/*
		Set to wrap, since 1-line vs 2-lines of text == PROBLEM!
		margin-top & -bottom were auto, leaving divs of different sizes.
		Ridiculous!  With wrap, at least they're all same height...
	*/
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	margin: .25rem auto;
	border: 1px solid black;
	}

#colour-legend div {
	flex-grow: 1;
	flex-shrink: 0;
	padding: 5px;
	}

#RFM-selector, #optsRecency, #optsFrequency, #optsMoney {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 90vw;
	text-align: center;
	border-radius: 5px;
	}

#RFM-selector {
	font-size: 1.5rem;
	margin: 0.5em auto 0 auto;
	white-space: nowrap;
	overflow: hidden;
	}

#RFM-selector > span {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0 1em .5em 1em;
	}

#optsFrequency, #optsRecency, #optsMoney {
	/* Initialize with none showing 'til a parent radio is selected: */
	display: none;
	flex-wrap: wrap;
	width: 90vw;
	font-size: 1.25rem;
	border-radius: 5px;
	padding: 0.5em 0;
	margin: 0 auto;
	background-color: hsl(222, 90%, 75%);
	}

/* Does not work */
selected-On {
	background-color: hsl(200, 50%, 50%);
	}
selected-Off {
	background-color: transparent;
	}



#xAxis-label {
	border: 1px solid green;
	}

.legend {
	display: block;
	margin: 1rem auto;
	font-size: 1.5rem;
	text-align: center;
	}

#tooltip, .tooltip {
	opacity: 0;
	position: absolute;
	/*
	Bars still lie below axis ticks: okay, but affects tooltip
	z-index: 1000;
	*/
	background-color: black;
	color: white;
	pointer-events: none;
	border: 2px solid red;
	border-radius: 8px;
	padding: 15px;
	}


.tooltip::before {
	content: " ";
	position: absolute;
	top: 50%;
	/* Bring pointer outside left-side-tooltip via border*2 */
	left: -24px;
	border: 12px solid transparent;
	border-right-color: red;
	/*
		offset by ½ width of border element to centre it, top:
		50% is START
	*/
	margin-top: -12px;
	}


/*
	Text was illegible - too small - on mobile.
	Set sizes larger at hiDPI:
*/
@media (resolution >= 2dppx) {
	#RFM-selector {
		font-size: 3rem;
		}

	#optsRecency, #optsFrequency, #optsMoney {
		width: 90vw;
		font-size: 2.5rem;
		}

	#tooltip, .tooltip {
		font-size: 3rem;
		}

	#xAxis-label, #yAxis-label, #title {
		font-size: 3rem;
		}
	.tick > * {
		font-size: 2rem;
		}
	}
